
body{
background-color:#2f4f4f;

}
header{
	font-weight:bold;
	width:70%;
	float:right;
font-size:100%;

background-color:#2f4f4f;
background-repeat:no-repeat;
background-size:cover;
border-radius:15px;
height:6.875em;
text-align:center;
border-bottom-style:dotted;
border-bottom-color:yellow;
background-image:linear-gradient(white, #027FC8 22%);
animation-name:myfort;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}
header:hover{
	background-image:linear-gradient(black, #027FC8 22%);
	
}
.portfolio{
	margin-top:5px;
	margin:30px;
	color:white;
	animation-name:myfort;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}

@keyframes myfort{
	from{color:yellow;}
	to{color:white;}
}
.mypic{
	margin-top:0.625em;
margin-left:0.313em;
	float:left;
	
}
@keyframes image{
	from{box-shadow:2px 2px 10px black; animation-timing-function: ease; }
	to{box-shadow:2px 2px 10px darkgray;animation-timing-function: ease;}
}
.mypic h3{
	color:white;
	text-align:center;
	padding:5px;
	
	border-bottom-style:dotted;
	border-bottom-color:yellow;
background-image:linear-gradient(white  , #027FC8 22% );
}
.aboutme{

	background-color:#027FC8;
	margin-top:3.125em;
	width:50%;
	float:right;

	display:block;
}
.Career_Objective{
	background-color:#027FC8;
	width:30%;
	text-align:justify;
	float:left;

	margin-right:1.563em;
}

.coheading{
	height:70px;
	color:white;
	text-align:center;
	padding:0.063em;
	border-radius:0.938em;
	border-bottom-style:dotted;
border-bottom-color:yellow;
background-image:linear-gradient(white , #027FC8 22% );
}

.skills{
	background-color:#027FC8;
	width:30%;
	float:left;
	text-align:justify;
	margin-right:1.563em;
}
.skillsheading{
color:white;
height:70px;
	text-align:center;
	padding:1px;
	border-radius:15px;
	border-bottom-style:dotted;
border-bottom-color:yellow;
background-image:linear-gradient(white, #027FC8 22% );
}
.certification{
	background-color:#027FC8;
	width:30%;
	float:right;
	text-align:justify;
}
.certificationheading{
color:white;
height:70px;
	text-align:center;
	padding:1px;
	border-radius:15px;
	border-bottom-style:dotted;
border-bottom-color:yellow;
background-image:linear-gradient(white, #027FC8 22% );
}
.break{
	border-bottom-style:dotted;
border-bottom-color:yellow;
width:100%;
height:4px;
float:right;
border-radius:15px;
}
.secsec{
	width:100%;
	height:400px;
border-bottom-color:blue;
	float:left;
	
	margin-top:5px;
}
.iv h2{
	animation-name:textcolor;
	animation-iteration-count:infinite;
	animation-duration:3s;
	animation-timing-function:linear;
}
.iv h2:hover{
	text-transform:capitalize;
	 text-shadow: 2px 2px #ff0000;
}
.iv{
	margin-left:5px;
	font-weight:bold;
	width:100%;
	float:right;
	font-size:100%;
	background-color:#027FC8;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:15px;
	height:80px;
	text-align:center;
	border-bottom-style:dotted;
	border-bottom-color:yellow;
	background-image:linear-gradient(white, #027FC8 22%);
}
.iv{
	margin-top:5px;
	margin-left:30px;
	color:white;
	animation-name:ivt;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}
.bold{
	
	background-color:white;
	height:12px;
	width:100px;
	margin-top:0px;
	margin-left:0px;
	
	animation-name:boldmove;
	animation-timing-function: ease-in-out;
	animation-duration: 2s ;
	position:relative;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	
}

@keyframes boldmove{
  from {left: 0px;background-color:black;width:2px; }
  50%{width:200px;background-color:white;}
  to {left: 100%;width:2px;background-color:black}
}
.iv:hover{
	background-image:linear-gradient(black, #027FC8 22%);	
	
	
}
@keyframes ivt{
	from{color:yellow;}
	to{color:white;}
}
.texmaco{
margin-top:15px;
	background-color:#027FC8;
	width:30%;
	float:left;
	text-align:justify;
	margin-right:1.563em;
}
.texmacoheading{
	color:white;
	height:70px;
	text-align:center;
	padding:1px;
	border-radius:15px;
	border-bottom-style:dotted;
border-bottom-color:yellow;
background-image:linear-gradient(white, #027FC8 22% );
}
.attach{
	width:800px;
	height:500px;
	float:left;
background-repeat:no-repeat;
background-image:url("deepak.jpg");
background-position:left top;
overflow:scroll;
color:red;
font-family: verdana;
background-attachment:scroll;
}
.play{
	opacity:0.8;
	width:200px;
	height:auto;
}
video{
	 width:400px;
float:left;
}

marquee{
	background-color:black;
	color:white;
	overflow:300px;
	height:auto;
	overflow-style:marquee,panner
	
}
marquee p{
	border:2px;
	border-top-color:white;
	color:white;
	
}
.glass{
	width:3009px;
}



@media screen and (max-width:720px){
	header{
		font-weight:normal;
		width:100%;
		float:right;
		font-size:100%;
		background-color:yellow;
		background-repeat:no-repeat;
		background-size:cover;
		border-radius:15px;
		height:100px;
		text-align:center;
		border-bottom-style:dotted;
		margin-top:0px;
		background-image:linear-gradient(white, #027FC8 22%);
	}
	header:hover{
	background-image:linear-gradient(black, #027FC8 22%);
	
}
.portfolio{
	margin-top:5px;
	margin:30px;
	color:white;
	animation-name:myfort;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}
	.mypic{
	margin-top:15px;
margin-left:25%;
	float:left;
	
}
.aboutme{
	background-color:#027FC8;

	width:100%;
	
	float:right;
}
.aboutmeto{
	height:300px;
	
}

.Career_Objective{
	background-color:#027FC8;
	width:30%;
	text-align:justify;
	float:left;
	
	overflow:scroll;
	margin-right:1.563em;
}
.skills{
	background-color:#027FC8;
	width:30%;
	float:left;
		height:200px;
	text-align:justify;
	margin-top:15px;

	
}


.certifications{
	background-color:#027FC8;
	width:30%;
	float:right;
	height:300px;
	text-align:justify;

	

}
.watch{
	width:100%;

}
video{
	 width:400px;
float:left;
}

.glass{
	width:43%;
	height:400px;
	float :right;
}
}














